[Unit]
Description=Radar Daemon
After=network-online.target
ConditionPathExists=/dev/ttyS0

[Service]
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=www-data
Group=dialout
ExecStart=/usr/bin/radar_soc
Restart=always

[Install]
WantedBy=multi-user.target

